<div class="app" ng-app="blues" ng-controller="ContactController">
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BLUES</a>
            </div>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Filtrer les contacts" ng-model="filter" ng-change="fetchContacts()">
                </div>
            </form>
            <form class="navbar-form navbar-right" role="search">
               
               
                <div class="form-group">
                   <div class="input-group">
                        <input type="number" min="1" class="form-control" ng-init="contactToGenerate=1" style="width:70px" ng-model="contactToGenerate">
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="generateFakeContacts()"><i class="fa fa-magic"></i></button>
                        </div>                       
                   </div>
                </div>
                <button class="btn btn-default" ng-click="openNewContactEditor()">Ajouter un contact&nbsp;<i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-default" ng-click="openEditContactEditor()" ng-disabled="activeRow == undefined">Editer&nbsp;<i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-default" ng-click="removeSelectedContact()" ng-disabled="activeRow == undefined">Supprimer&nbsp;<i class="fa fa-trash-o"></i>
                </button>
                <button class="btn btn-default" ng-click="openExtraction()">Extraction&nbsp;<i class="fa fa-download"></i>
                </button>
                 <button class="btn btn-default" ng-click="openSettingsEditor()">Paramètres&nbsp;<i class="fa fa-cogs"></i>
                </button>
            </form>

        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="contacts" class="ng-cloak">
        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead ng-click="activeRow=null">
                <tr>
                    <th>Nom</th>
                    <th>Entreprise</th>
                    <th>Adresse</th>
                    <th>Téléphones</th>
                    <th>Mail</th>
                    <th>Date de Naissance</th>
                    <th><span class="list">Type de contact</span>
                    </th>
                    <th><span class="list">Genre de contact</span>
                    </th>
                    <th><span class="boolean-label"><span>Adhérent</span></span>
                    </th>
                    <th><span class="boolean-label"><span>Bénévole</span></span>
                    </th>
                    <th><span class="boolean-label"><span>Donateur</span></span>
                    </th>
                    <th><span class="list">Type de mécénat</span>
                    </th>
                    <th><span class="list">Divers&nbsp;I</span>
                    </th>
                    <th><span class="list">Divers&nbsp;II</span>
                    </th>
                    <th><span class="list">Fonction</span>
                    </th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts" ng-click="$parent.activeRow=$index" ng-dblclick="openEditContactEditor()" ng-class="$parent.activeRow==$index ? 'info' : false">
                    <td>
                        <div class="name-field">{{contact.title}} {{contact.lastName}} {{contact.firstName}}</div>
                    </td>
                    <td>{{contact.companyName}}</td>
                    <td>
                        <div class="adress-field">{{contact.adress}} {{contact.complementoryAdress}}
                            <br/>{{contact.postalCode}} {{contact.city}}</div>
                    </td>
                    <td>
                        <div class="phone-field">
                            <span class="one-line" ng-if="contact.homePhone"><i class="fa fa-phone fa-fw"></i>&nbsp;{{contact.homePhone}}</span>
                            <span class="one-line" ng-if="contact.mobilePhone"><i class="fa fa-mobile fa-fw"></i>&nbsp;{{contact.mobilePhone}}</span>
                            <span class="one-line" ng-if="contact.officePhone"><i class="fa fa-briefcase fa-fw"></i>&nbsp;{{contact.officePhone}}</span>
                        </div>
                    </td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.birthday}}</td>
                    <td>{{contact.type.name}}</td>
                    <td>{{contact.genre.name}}</td>
                    <td>
                        <span ng-if="contact.adherent"><i class="fa fa-cc-visa"></i></span>
                        <span ng-if="!contact.adherent"><i class="fa fa-minus"></i></span>
                    </td>
                    <td>
                        <span ng-if="contact.benevole"><i class="fa fa-thumbs-o-up"></i></span>
                        <span ng-if="!contact.benevole"><i class="fa fa-minus"></i></span>
                    </td>
                    <td>
                        <span ng-if="contact.donor"><i class="fa fa-heart"></i></span>
                        <span ng-if="!contact.donor"><i class="fa fa-minus"></i></span>
                    </td>
                    <td>
                        {{contact.help.name}}
                    </td>
                    <td>{{contact.diverse1.name}}</td>
                    <td>{{contact.diverse2.name}}</td>
                    <td>{{contact.function.name}}</td>
                    <td>{{contact.comments}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>