<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel"> <span ng-if="editMode">Editer un contact</span> <span ng-if="!editMode">Ajouter un contact</span></h4>
</div>
<div class="modal-body">
    <div class="container col-md-12">
        <form class="form-horizontal" role="form" novalidate>
            <div class="row form-group">
                <div class="col-md-3">
                    <select name="" id="" class="form-control" ng-model="title">
                        <option value="Monsieur">Monsieur</option>
                        <option value="Madame">Madame</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="firstName" placeholder="Prénom">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Nom">
                </div>

                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="companyName" id="create-contact-companyName" placeholder="Entreprise">
                </div>
            </div>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" ng-model="adress" id="create-contact-adress" placeholder="Adresse">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" ng-model="complementoryAdress" id="create-contact-complementoryAdress" placeholder="Adresse suite">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="postalCode" id="create-contact-postalCode" placeholder="Code Postal">
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="city" id="create-contact-city" placeholder="Ville">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" ng-model="email" id="create-contact-mail" placeholder="Email" required data-bv-emailaddress-message="L'email n'est pas valide">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
                                <input type="tel" class="form-control" ng-model="homePhone" id="create-contact-homePhone" placeholder="Tel. Maison">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
                                <input type="tel" class="form-control" ng-model="mobilePhone" id="create-contact-mobilePhone" placeholder="Tel. Mobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-briefcase fa-fw"></i></span>
                                <input type="tel" class="form-control" ng-model="officePhone" id="create-contact-officePhone" placeholder="Tel. Bureau">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-birthday-cake fa-fw"></i></span>
                                <input type="text" class="form-control" ng-model="birthday" id="create-contact-birthday" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="form-group row text-center">
                <div class="col-md-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="adherent" id="create-contact-adherent" value="option1">Adhérent
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="benevole" id="create-contact-benevole" value="option2">Bénévole
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="donor" id="create-contact-donor" value="option3">Donateur
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-type" class="control-label">Type de Contact</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <div class="input-group">
                                <select class="form-control" ng-model="type" ng-options="type as type.name for type in types" id="create-contact-type"></select>
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button" ng-click="openDropdownEditor('des types de contact', 'type')">
                                    <i class="fa fa-fw fa-cog"></i>
                                  </button>
                               </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-genre" class="control-label">Genre de Contact</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <select class="form-control" ng-model="genre" ng-options="genre as genre.name for genre in genres" id="create-contact-genre"></select>
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="button" ng-click="openDropdownEditor('des genres de contact', 'genre')"><i class="fa fa-fw fa-cog"></i>
                            </button>
    </span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-help" class="control-label">Type de Mécénat</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <div class="input-group">
                                <select class="form-control" ng-model="help" ng-options="help as help.name for help in helps" id="create-contact-help">
                                </select>
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button" ng-click="openDropdownEditor('des types de de Mécénat', 'help')">
                                    <i class="fa fa-fw fa-cog"></i>
                                  </button>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-function" class="control-label">Fonction</label>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12 text-center">

                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="comments" id="create-contact-comments" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-diverse1" class="control-label">Divers I</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <div class="input-group">
                                <select class="form-control" ng-model="diverse1" ng-options="diverse1 as diverse1.name for diverse1 in diverse1s" id="create-contact-diverse1">
                                </select>
                                </select>
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button" ng-click="openDropdownEditor('de Divers I', 'diverse1')">
                                    <i class="fa fa-fw fa-cog"></i>
                                  </button>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-diverse2" class="control-label">Divers II</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-group">

                            <select class="form-control" ng-model="role" ng-options="diverse2 as diverse2.name for diverse2 in diverse2s" id="create-contact-diverse2">
                            </select>
                            </select>
                            <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button" ng-click="openDropdownEditor('de Divers II', 'diverse2')">
                                    <i class="fa fa-fw fa-cog"></i>
                                  </button>
                               </span>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12" style="margin-top:20px">
            <label for="create-contact-comments" class="col-sm-2 control-label">Commentaires</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="comments" id="create-contact-comments" placeholder="">
            </div>
        </div>
    </div>
    </form>
</div>
<div class="clearfix"></div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>