<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Extraction</h4>
</div>
<div class="modal-body text-center">
    <div class="container col-md-12">
        <form class="form-horizontal extraction" role="form" novalidate>
            <div class="form-group row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="control-label">Adhérent</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="yesno" selected-model="adherent" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="control-label">Bénévole</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="yesno" selected-model="benevole" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="control-label">Donateur</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="yesno" selected-model="donor" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-type" class="control-label">Type de Contact</label>
                        </div>
                    </div>

                    <div ng-dropdown-multiselect="" options="types" selected-model="type" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-genre" class="control-label">Genre de Contact</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="genres" selected-model="genre" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-genre" class="control-label">Type de Mécénat</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="helps" selected-model="help" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-type" class="control-label">Divers I</label>
                        </div>
                    </div>

                    <div ng-dropdown-multiselect="" options="diverse1s" selected-model="diverse1" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-genre" class="control-label">Divers II</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="diverse2s" selected-model="diverse2" extra-settings="multiSelectOptions" translation-texts="multiSelectTranslations"></div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label for="create-contact-genre" class="control-label">Colonnes à afficher</label>
                        </div>
                    </div>
                    <div ng-dropdown-multiselect="" options="columns" selected-model="column" extra-settings="columnOptions" translation-texts="columnTranslations"></div>
                </div>
            </div>


    </div>
    </form>
</div>
<div class="clearfix"></div>

</div>
<div class="modal-footer">
		<button class="btn btn-info" ng-click="">Excel&nbsp;<i class="fa fa-table"></i></button>
		<button class="btn btn-info" ng-click="">Etiquettes&nbsp;<i class="fa fa-tag"></i></button>
		<button class="btn btn-info" ng-click="">Emails&nbsp;<i class="glyphicon glyphicon-envelope"></i></button>
		<button class="btn btn-info" ng-click="">Impression&nbsp;<i class="fa fa-print"></i></button>
        <button class="btn btn-default" ng-click="cancel()">Anuller</button>
</div>
