<form class="form-horizontal extraction" role="form" id="uploadForm"
          enctype="multipart/form-data"
          action="/import/excel"
          method="post">
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Extraction</h4>
</div>
<div class="modal-body text-center">
    <div class="container col-md-12">
      <input type="file" required id="csvFile" name="csvFile" />
</div>
<div class="clearfix"></div>

</div>
<div class="modal-footer">
        <input class="btn btn-default" type="submit" value="Envoyer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
</div>
</form>